.MainNavBar {
    border-bottom: 1pt solid lightgray;
    background: white;
    padding-top: 3px;
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
}

.navbar img {
    width: 25px;
    height: auto;
    vertical-align: middle;
}

.MainLogo img {
    width: 100px;
}