.MainFooter {
    border-top: 1pt solid lightgray;
    border-left: 0.5pt solid lightgray;
    border-right: 0.5pt solid lightgray;
    background: white;
    position: sticky;
    bottom: 0;
    padding: 3px 0;
    /* box-sizing: border-box; */
    margin-top: -53px;
}