.userProfileImage img{
    width: 35px;
    height: 35px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid lightgray;
    object-fit: cover;
    
}


.comments{
    min-height: calc(100vh - 53px);
}

.comments ul{
    list-style-type: none;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
    padding-inline-start: 0.8em;
}

.MainComments-header{
    border-bottom: 1pt solid lightgray;
    background: white;
    position: sticky;
    top: 0;
}

.comments-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px;
}

.comments-header img{
    width: 25px;
    height: auto;
    vertical-align: middle;
}

.comments-header div{
    justify-content: flex-start;
    margin: 0 1.5%;
}

.comments-header div:last-child{
    margin-left: auto;
    margin-right: 0%;
}

.comments-header label{
    font-weight: bold;
    font-size: 1.08em;
}

#comments-list{
    padding-bottom: 0.5em;
}

#comment-space{
    padding-left: 0.6em;
    font-weight: bold;
}

.comments-space{
    padding-left: 0.6em;
    font-weight: bold;
}

.comment-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: calc(100vh - 52px);
    padding-bottom: 31px;
}

.outputComments-list {
    display: flex;
    align-items: flex-start;
}

.comment-user-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comment-text{
    margin-left: 1vw;
}

.comment-text label{
    word-break: break-all;
}

.input-comment{
    position: sticky;
    bottom: 0;
    border-top: 1pt solid lightgray;
    background: white;
    padding: 0.7vw 0;
}

.input-comment form{
    /* box-sizing: border-box;
    padding: 8px 20px; */
}

.add-comment{
    display: flex;
    justify-content: space-around;
}

.add-comment img{
    width: 35px;
    height: 35px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid lightgray;
    object-fit: cover;
}

.add-comment input{
        border-style: none;
        outline: none;
        font-size: 1em;
        width: 35vw;
}

.add-comment button{
    /* margin-left: auto;
    margin-right: 0%; */
    border-style: none;
    outline: none;
    background-color: white;
    color: steelblue;
    font-size: 1em;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .input-comment {
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }
}

@media only screen and (min-width: 768px) {
    .MainComments-header {
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }
}