.MainFooter {
    border-top: 1pt solid lightgray;
    background: white;
    height: 9vh;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    bottom: 0;
    padding-top: 5px;
    box-sizing: border-box;
    /*margin-top: 100%;*/
}