.MainNavBar{
    border-bottom: 1pt solid lightgray;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2% 3%;
}

.navbar img{
    width: 3vw;
    height: auto;
    vertical-align: middle;
}

/*.navbar div{
    margin-top: 0.5%;
}
*/
/*
.navbar div:last-child{
    margin-left: auto;
}
*/
.MainLogo img{
    width: 12vw;
}