.MainNewPost-header{
    border-bottom: 1pt solid lightgray;
    background: white;
    position: sticky;
    top: 0;
}

.NewPost-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px;
}

.NewPost-header img{
    width: 25px;
    height: auto;
    vertical-align: middle;
}

.NewPost-header div{
    justify-content: flex-start;
    margin: 0 1.5%;
}

.NewPost-header div:last-child{
    margin-left: auto;
    margin-right: 0%;
}

.NewPost-header label{
    font-weight: bold;
    font-size: 1.08em;
}

.NewPost-header button{
    border-style: none;
    outline: none;
    background-color: white;
    color: steelblue;
    font-size: 1.08em;
    font-weight: bold;
}

.NewPost-user-image img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.NewPost textarea{
    border-style: none;
    outline: none;
    font-size: 1em;
    margin-left: 7vw;
    width: 85vw;
    /* height: 20vw; */
    min-height: 20vw;
    font-size: 1em;
    margin-bottom: 5vw;
}

.NewPost-description{
    /* width: 90vw; */
    margin-top: 5vw;
    border-bottom: 1px solid lightgray;
}